.my-drawer-content {
    position: fixed;
    top: 60px;
    bottom: 0px !important;
    height: calc(100vh - 60px);
}
.my-drawer-content * {
    /* border: 1px solid white; */
    bottom: 0 !important;
}